@page
@model RealBeast.Pages.HasStocks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HasStock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasStock.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasStock.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasStock.StoreID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasStock.StoreID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasStock.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasStock.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HasStock.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
